* {
    box-sizing: border-box;
}

body {
    width: 80%;
    margin: 0 auto;
}

p {
    padding: 20px;
}

.forma {
    width: auto;
    height: auto;
}

.color {
    text-align: center;
    border-radius: 5px;
    background-color: #ccc;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
}

a {
    display: block;
    background: lightgray;
    width: 50%;
    border: 1px solid black;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
}