<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About me</title>
</head>
<body>
    <header>Página personal</header>
    <h1>Víctor Alexander</h1>
    <h2>¿Quién soy?</h2>
    <div><a href="https://www.linkedin.com/in/soto-alexander/" target="_blank">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvMHfIJLH0sp4Z2_7WOSF3_fNnWSrR1LUc6-XHZlyZPUBU-h1PP-mhauBYwL4_SOaqacQ&usqp=CAU" alt="">
    </a></div>
    <p> Esto es un poco de quién soy:</p>
    <div>
        <ol>
            <li>Ingeniero geofísico</li>
            <li>26 años :)</li>
            <li>Me gusta programar</li>
            <li>Me gusta comer</li>
            <li><span style="color: chartreuse;">Me gusta dormir</span></li>
            <li><a href="https://upload.wikimedia.org/wikipedia/commons/thumb/d/de/Catedral_SLP_cielo.jpg/1200px-Catedral_SLP_cielo.jpg" style="color: royalblue;">Me gusta algo de aquí</a></li>
        </ol>
    </div>
    
    <a href="product.html">No hagas click aquí</a>

    <footer>
        <span style="font-size: large; color: yellow; background-color: fuchsia;">Toma awita</span>
    </footer>

</body>
</html>