<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- Enlazar archivo de css -->
    <link rel="stylesheet" href="assets/css/styles.css" />
  </head>
  <body>
    <!-- En bloque -->
    <h1>Título</h1>
    <p>Hola</p>
    <br />
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae, reiciendis voluptatem? Quae beatae doloribus libero
      maxime a eligendi vel labore, pariatur voluptatem non delectus repudiandae possimus mollitia blanditiis perspiciatis,
      voluptate quibusdam minus magnam velit sit unde autem explicabo totam! Facilis eligendi et similique at voluptates! Natus
      placeat non consequatur id.
    </p>
    <!-- En línea -->
    <span class="saludo" id="saludoInicial">Hola</span>
    <img
      width="400px"
      src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/11/cd/58/d4/photo0jpg.jpg?w=700&h=500&s=1"
      alt=""
    />
    <a href="https://google.com/">Google</a>
    <a href="../index.html">Index</a>

    <!-- Listas ordenadas -->
    <ol>
      <li>Primero</li>
      <li>Seegundo</li>
      <li>Tercero</li>
      <li>Cuarto</li>
    </ol>
    <!-- Listas no ordenadas -->
    <ul>
      <li>Primero</li>
      <li>Seegundo</li>
      <li>Tercero</li>
      <li>Cuarto</li>
    </ul>

    <!-- Css en el documento -->
    <style>
      body {
        background-color: aquamarine;
      }
    </style>

    <div></div>

    <!-- JS en el documento -->
    <script>
      alert("Hola mundo");
    </script>
    <!-- Enlazar un archivo JS -->
    <script src="assets/js/main.js"></script>
  </body>
</html>
